 .node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }
  .nodeCircle{
    width: 100px;
  }
  .nodeCircle:hover{
    width: 50px;
  }
  body {
    width:500px;
    height:520px;
    margin:0;
    background-color:#eee;
  }

  h2 {
    border-bottom: solid 3px grey;
    margin:0;
      font-size:20px;
  }